// Specific CSS for your home-page
.banner {
  height: 700px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 4px rgba(31, 31, 31, 0.2);
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 5px;
}

.banner p {
  font-size: 30px;
  text-align: center;
  margin-top: 100 px;
  letter-spacing: 5px;
  color: white;
  opacity: 1.02;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  box-shadow: 5px 5px rgb(31, 29, 29);
  background: white;
  transition: background 0.3s ease;
  a {
    color: rgb(99, 99, 99);
    text-decoration: none;
    letter-spacing: 3px;
   }
}

.btn-flat:hover {
  background: #ecbf5d;
  color: white;

}

#header_front {
  height: auto;
  margin-top: -80px;
  width: fit-content;
}

.buttons {
  width: auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

 #mainimg {
   margin-top: 100;
 }
