// home-page
.main-container {
  min-height: calc(100vh - 58px);
}

.home {
  display: flow-root;
  justify-content: center;
  text-align: center;
}

// titles
.hometitles {
  margin-top: 3.5em;
}

.areas {
  margin-bottom: 3.5em;
}

.banner {
  height: 700px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.banner h1 {
  margin: 0;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 4px rgba(31, 31, 31, 0.2);
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 5px;
}

.banner p {
  font-size: 30px;
  text-align: center;
  margin-top: 100 px;
  letter-spacing: 5px;
  color: white;
  opacity: 1.02;
}

// buttons

.btn-flat {
  color: white;
  padding: 8px 24px;
  box-shadow: 5px 5px rgb(31, 29, 29);
  background: white;
  transition: background 0.3s ease;
  a {
    color: rgb(99, 99, 99);
    text-decoration: none;
    letter-spacing: 3px;
   }
}

.btn-flat:hover {
  background: #ecbf5d;
  color: white;

}

#header_front {
  height: auto;
  margin-top: -77px;
  width: fit-content;
}

.buttons {
  display: flow-root;
  align-items: center;
  justify-content: space-between;
  margin-top: 4em;
}

 #mainimg {
   margin-top: 100;
   width: -webkit-fill-available;
   height: -webkit-fill-available;
 }

 .box {
   width: 836px;
   height: 26px;
   background-color: #1e1e1d;
   margin-top: -41px;
 }

 .box1 {
  width: 733px;
  height: 30px;
  background-color: #1e1e1d;
  margin-top: -76px;
  margin-left: 52px;
}

// carousel featured products

.featuredTitle {
  background-color: black;
  width: 600px;
  opacity: 0.9;
}

.titleTextFeat p {
  color: white;
  text-align: center;
}

#myCarousel {
  margin-top: 50px;
  margin-bottom: 50px;
}

.carousel-item img {
  width: 100%;
  height: 400px;
}

.carousel-caption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  height: fit-content;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 7rem;
  height: 7rem;
  background-color: grey;
}

.featuredBuyNow:hover {
  transform: scale(1.3) perspective(1px);
}

// search by camera model

.searchByCam {
  margin-top: 2.5em;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Add relative position to the search bar container */
}

.search-bar input[type="text"] {
  padding: 10px;
  border: none;
}

.search-bar button {
  padding: 8px 18px;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: darkgray;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #27ae60;
}

.autocomplete {
  position: absolute;
  background-color: #ffffff;
  border: hidden;
  border-top: none;
  width: 300px;
  max-height: 500px;
  overflow-y: auto;
  z-index: 1;
  top: calc(100% + 5px);
  left: 0;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #e0e0e0;
}

// resizing

// mobile
@media (min-width:350px) and (max-width:700px) {
  .areas {
    margin-bottom: 2.5em;
  }
  .btn-flat a {
    font-size: 1rem;
  }
  .banner h1 {
    font-size: 1.7rem;
  }
  .banner p {
    font-size: 1rem;
    margin-top: 1.5em;
  }
  .hometitles {
    margin-top: 10em;
  }
}
