// Specific CSS for your home-page
.banner {
  height: 700px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-top: -200;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 4px rgba(31, 31, 31, 0.2);
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 5px;
}

.banner p {
  font-size: 30px;
  margin-top: 100 px;
  letter-spacing: 5px;
  color: white;
  opacity: 1.02;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  background: #ffffff;
  transition: background 0.3s ease;
  a {
    color: grey;
    text-decoration: none;
    letter-spacing: 3px;
   }
}

.btn-flat:hover {
  background: #d3d1d1;
  color: white;
}

#header_front {

}
