.cam-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width:100%;
  max-width:1300px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 2px;
  box-shadow: 0 0.5rem 1rem #5e5e5e80;
  min-height:600px;
}

.cardShowProd {
  text-decoration: none !important;
  color: dimgray !important;
}

.act-price {
  font-weight: bold;
  font-size: larger;
  color: dimgrey;
  text-decoration: underline;
}

.infobox {
  margin-top: 100px;
}

.moreinfo {
  margin-top: 200px;
}

#seller {
  color: orange;
  margin-bottom: 50px;
  font-weight: 500;
}

.buttons-card {
  bottom: 0;
}

#make {
  font-size: x-large;
}

#model {
  font-size: 20pt;
  margin-bottom: 30px;
}

#condition {
  margin-top: 40px;
}

.product {
  padding: 40px;

}
