<div class="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Sign Up Now To Start Buying or Selling!</h1>
      </div>
      <div style="text-align: center; margin-bottom:2em;">
        <h5>Our platform is dedicated to providing a safe and secure environment for buyers and sellers to connect and exchange high-quality camera equipment.</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2>1. Sell your Cameras, Lenses, Accessories and Other Electronics </h2>
        <p>Sell your items for free by downloading the Marketplace app, taking photos, describing your item, and setting a price. Simply upload your listing, and it will go live. Once sold, box up your item, print the prepaid shipping label, and drop it off within 5 days. You keep all of your earnings, as there are no selling fees. Payment is made as soon as the buyer confirms that everything is in order.</p>
        <button><%= link_to "Sell your Items now", new_camera_path, class: "btn btn-success" %></button>
      </div>
      <div class="col-md-6">
        <img src="https://www.vinted.es/assets/how-it-works/desktops@2x/how-to-sell-step2.png" alt="Sell your clothes">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <img src="https://www.vinted.es/assets/how-it-works/desktops@2x/shopping-step2.png" alt="Buy clothes">
      </div>
      <div class="col-md-6">
        <h2>2. Buy from our Niche Selection of High Quality Products</h2>
        <p>Discover millions of unique items and search for your favorites by downloading the Marketplace app for free. You can browse thousands of brands and find what you're looking for. Once you've found what you want, communicate with the seller and make your purchase with a simple tap of a button. Securely pay for your purchase using PayPal, bank card, Apple Pay, or your Marketplace Balance. At checkout, you'll see the estimated delivery date for your item, and we'll keep you informed about its shipping status. Within a few days, your item will arrive.</p>
        <button><%= link_to "Search the Collection of Products Now", cameras_path, class: "btn btn-success" %></button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2>3. Connect with other users</h2>
        <p>Building a community of active users is essential to creating a thriving marketplace, which is why we have a strong focus on developing relationships and promoting repeated sales between our users. Our comprehensive buyer and seller protection policies ensure that you can buy and sell with confidence, without worrying about scams or fraud. We strive to make our platform transparent and user-friendly, with efficient communication channels to help you build trust and connect with other members of our community. Join us and be a part of our flourishing community of passionate camera enthusiasts!</p>
        <button><%= link_to "Browse our Active Community of Verified Sellers", cameras_path, class: "btn btn-success" %></button>
      </div>
      <div class="col-md-6">
        <img src="https://static.photocdn.pt/images/articles/2020/04/14/Where_Should_You_Spend_Your_Money-Camera_Body_or_Lenses.webp" alt="Connect with other users">
      </div>
    </div>
  </div>
</div>
