<div class="container mb-5">
  <div class="d-flex align-items-center justify-content-between column mb-3">
    <h3 class="mb-0">Our Cameras</h3>
    <%= link_to "Create a new booking", new_camera_booking_path, class: "btn btn-dark" %>

  </div>
  <div class="row my-2">
      <% @bookings.each do |camera| %>
      <div class="col-12 col-sm-4 mb-4">
        <div class="bg-white rounded shadow h-100">
          <img src="https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80", class="camera-img rounded-top">
            <div class="p-3 rounded-bottom d-flex flex-column">
              <strong><%= booking.status %></strong>
              <p><%= booking.comment %></p>
              <div class="d-flex align-items-end justify-content-between pt-4">
                <p>€<%= booking.bid %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
