
<div class="banner" id="mainimg" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dpauqhmri/image/upload/v1645797275/sellcameras_h7rksq.jpg);">
  <div class="container" id= "header_front">
    <h1>Buy and sell <strong>cameras</strong>!</h1>
    <p>Explore our range of used and new cameras</p>
    <div class="buttons">
    <button class="btn btn-flat text-uppercase mr-2 px-4" ><%= link_to "See cameras", cameras_path, id: "back-link", class: "backlink" %></button>
   <button class="btn btn-flat text-uppercase mr-2 px-4" ><%= link_to "Sign in", bookings_path, id: "booking-link" %></button>
  </div>
  </div>
</div>
