
<div class="banner" id="mainimg" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path "sellcameras.jpeg" %>);">
  <div class="container" id= "header_front">
    <h1>Buy and sell <strong>cameras</strong>!</h1>
    <p>Explore our range of used and new cameras</p>
    <div class= "box"></div>
    <div class= "box1"></div>
    <div class="buttons">
    <button class="btn btn-flat text-uppercase mr-2 px-4" ><%= link_to "See cameras", cameras_path, id: "back-link", class: "backlink" %></button>
   <button class="btn btn-flat text-uppercase mr-2 px-4" ><%= link_to "Sign up", new_user_registration_path, id: "booking-link" %></button>
  </div>
  </div>
</div>
