.how-it-works h1 {
  text-align: center;
  margin-bottom: 50px;
}

.how-it-works h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.how-it-works p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.how-it-works img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
