.navbar-lewagon {
  justify-content: space-between;
  background: none;
}

.navbar-nav {
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    width: 80%;
    height: 80%;
  }
}

.navbar-search {
  margin-right: -50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-left: 2em;
  
}

.nav-item {
  margin-left: 0.8em;
  margin-right: 0.8em;
  padding-top: 0;
 a {
  color: grey;
  text-decoration: none;
 }
}


// #home-link {
//   margin-left: 0.8em;
//   margin-right: 0.8em;
//   color: grey;
//   text-decoration: none;
// }
