#show-back-link {
  text-decoration: none;
  color: gray
}

#show-bid-link {
  text-decoration: none;
  color: rgb(243, 234, 234)
}

#bookingLinkBack {
  text-decoration: none;
  color: gray
}

#description {
  margin-top: 2em;
  margin-bottom: 2em;
}

// show page accessory
#conditionAcc {
  margin-top: 1em;
  margin-bottom: 1em;
}

// media queries
@media (max-width: 600px) {
  .imageProduct {
    max-width: 100%;
    max-height: 100%;
  }
  .infobox {
    margin-top: 1em !important;
  }
}
